body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-container {
  height: 45vh;
  width: 12vw;
  background-color: black;
  padding: 25px;
  margin: 0;
  border: 3px;
  border-radius: 12px;
  border-style: solid;
  border-color: rgb(129, 122, 122);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.screen-container {
  color: white;
  text-align: right;
  height: 15vh;
  margin-bottom: 2px;
}

.upper-screen-container,
.lower-screen-container {
  height: 20px;
}

.upper-screen-container {
  font-size: 2vh;
}

.lower-screen-container {
  font-size: 4vh;
}

.button-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.row1, 
.row2, 
.row3,
.row4,
.row5 {
  flex: 1;
  display: flex;
}

.row1 button,
.row2 button,
.row3 button, 
.row4 button {
  flex: 1;
}

.num,
.period {
  background-color: rgb(99, 99, 99);
}

.clear,
.del {
  background-color: rgb(234, 12, 12);
}

.op, 
.equals {
  background-color: orange;
}

.zero,
.period {
  flex: 1;
}

.equals {
  flex: 2;
}

button {
  color: white;
  font-weight: 600;
  margin: 1.5px;
  border-color: transparent;
  border-style: solid;
  border-radius: 12px;
}